.one{
    position: relative;
    h1{
        margin:5px 0;
        position: relative;
    }

    h1::after{
        content:"";
        position: absolute;
        left:-3%;
        top:-80%;
        z-index: -1;
        box-sizing: border-box;
        border-right:25px solid lightgreen;
        border-bottom:25px solid lightgreen;
        border-left:25px solid transparent;
        border-top:25px solid transparent;
    }

    h4{
        margin:5px 0;
    }

    p{
        margin:10px 0;
    }

    button{
        position: absolute;
        bottom:10%;
        left:0%;
        padding:15px 30px;
        background-color: transparent;
        z-index:10;
        font-weight: 700;
        border:none;
        cursor: pointer;
        z-index:10;
    }

    button::after{
        content: "";
        width:100%;
        height:100%;
        border:1px solid black;
        background-color: transparent;
        position: absolute;
        top:-5%;
        left:0%;
        z-index:-1;
        transition: .3s ease-in-out;
    }

    button:hover::after{
        top:10%;
        left:-5%;
    } 

    button::before{
        content: "";
        width:100%;
        height:100%;
        background-color: lightgreen;
        position: absolute;
        top:10%;
        left:-5%;
        z-index:-1;
        transition: .3s ease-in-out;
    }

    button:hover::before{
        top:0;
        left:0;
    } 
}

@media (max-width:1020px){
    .one{
        button::before{
            background-color: white;
        }
    }
}